* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%); 
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 85px 32px;
}

/* Typography */
h1,
h2 {
  text-align: center;
}

h1 {
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

header p {
  text-align: center;
  max-width: 540px;
  margin: 0 auto 64px;
  color: hsl(229, 6%, 66%);
}

/* Card styles */
.card-container {
  display: grid;
  gap: 24px;
  max-width: 1110px;
}

.card {
  background-color: white;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-top: 4px solid;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.card p {
  color: hsl(229, 6%, 66%);
  margin-bottom: 40px;
}

.card img {
  display: block;
  margin-left: auto;
}

.cyan {
  border-color: hsl(180, 62%, 55%);
}
.red {
  border-color: hsl(0, 78%, 62%);
}
.orange {
  border-color: hsl(34, 97%, 64%);
}
.blue {
  border-color: hsl(212, 86%, 64%);
}

/* Footer */
footer {
  margin-top: 80px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

footer a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover{
    color: hsl(212, 86%, 64%);
}

/* Responsive layout */
@media (min-width: 1110px) {
  h1,
  h2 {
    font-size: 36px;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .cyan {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .red,
  .orange {
    grid-column: 2;
  }

  .blue {
    grid-column: 3;
    grid-row: 1 / 3;
  }
}
